 
<button (click)="Decrement()">Decrement</button>
{{counter$ | async}}
<button (click)="Increment()">Increment</button>
<table style="width: 100%;">
  <tr>
    <td><app-admin></app-admin></td>
    <td><app-user></app-user></td>
  </tr>
</table>

<br>
 Loading==> {{loading$|async}}

<ul>
  @for (item of department$ |async; track $index) {
    <li>{{item.departmentName}}</li>
  }
</ul>

<br>
Admin Page
<app-admin></app-admin> 

<!-- behavial sub -->
 <h1>behavial Sub</h1>
 <h1 *ngIf="loadingB$ | async">Loading...</h1>
    <ul>
      @for (dept of departmentsB$ | async; track $index) {
        <li>{{ dept.departmentName }}</li>
      }
    </ul>

    Admin Page for behavirial subbb
<app-admin></app-admin>

<router-outlet></router-outlet>